.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.fullHeight {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 4rem);
}

.flexOne {
  flex: 1;
  position: relative;
  width: 100%;
  min-height: 600px;
}
